<div class="news">
  <h4>Invited talks</h4>
  {% if site.talks  %}
    <div class="table-responsive">
      <table class="table table-sm table-borderless">
      {% assign talk = site.talks %}
      {% for item in talk reversed%}
        <tr>
          <th scope="row" class="col-md-1">{{ item.date | date: "%m-%Y" }}</th>
          <td class="col-md-10">
              <a href="#">"{{ item.title }}"</a> at <em>{{item.venue}}</em>.
			<div class="content-links">  
			  {% if item.slides %}
				  {% if item.slides contains '://' %}
					<a href="{{ item.slides }}" class="btn btn-sm z-depth-0" role="button" target="_blank">Slides</a>
				  {% else %}
					<a href="{{ item.slides | prepend: '/assets/slides/' | relative_url }}" class="btn btn-sm z-depth-0" role="button" target="_blank">Slides</a>
				  {% endif %}
				{% endif %}
			</div>
          </td>
        </tr>
      {% endfor %}
      </table>
    </div>
  {% else %}
    <p>No talks so far...</p>
  {% endif %}
</div>