<div class="news">
  {% if site.news  %}
    <div class="table-responsive">
      <table class="table table-sm table-borderless">
      {% assign newss = site.news | reverse %}
      {% for item in newss %}
        <tr>
          <th scope="row" class="col-md-1">{{ item.date |  date: "%m-%Y" }}</th>
          <td class="col-md-10">
            
              {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
            
          </td>
        </tr>
      {% endfor %}
      </table>
    </div>
  {% else %}
    <p>No news so far...</p>
  {% endif %}
</div>
