<div class="news">
  <h4 class="font-weight-bolder">Education</h4>
    <div class="table-responsive">
      <table class="table table-sm table-borderless">
        <tr class="flex">
		  <td><i class="fa fa-caret-right main-name"></i></td>
          <td class="main-name"> Ph.D. Computer Science</td>
		  <td> Delft University of Technology, Netherlands  </td>
		  <td scope="row" class="lec-years" >2018 - present</td>
		</tr>
		
		<tr class="flex">
		  <td><i class="fa fa-caret-right main-name"></i></td>
          <td class="main-name"> MSc. Computer Science</td>
		  <td> Delft University of Technology, Netherlands  </td>
		  <td scope="row" class="lec-years" >2016 - 2018</td>
		</tr>
		
		<tr class="flex">
		  <td><i class="fa fa-caret-right main-name"></i></td>
          <td class="main-name"> BSc. Computer Science</td>
		  <td> National University of Sciences &amp; Technology, Pakistan  </td>
		  <td scope="row" class="lec-years" >2011 - 2015</td>
		</tr>
      </table>
    </div>
</div>

<hr/>

<div class="news">
  <h4 class="font-weight-bolder">Research Experience</h4>
    <div class="table-responsive">
      <table class="table table-sm table-borderless">
        <tr class="flex">
		  <td><i class="fa fa-caret-right main-name"></i></td>
          <td class="main-name"> Cybersecurity Visiting Student Researcher (Virtual)</td>
		  <td> RIT, USA </td>
		  <td scope="row" class="lec-years" >Jun - Dec, 2020</td>
		</tr>
		
		<tr class="flex">
		  <td><i class="fa fa-caret-right main-name"></i></td>
          <td class="main-name"> Research Intern</td>
		  <td> EPFL, Switzerland</td>
		  <td scope="row" class="lec-years" >Jul - Sept, 2017</td>
		</tr>
		
		<tr class="flex">
		  <td><i class="fa fa-caret-right main-name"></i></td>
          <td class="main-name"> Openlab Summer Student</td>
		  <td> CERN, Switzerland</td>
		  <td scope="row" class="lec-years">Jul - Sept, 2015</td>
		</tr>
      </table>
    </div>
</div>

<hr/>

<div class="news">
<h4 class="font-weight-bolder">Honors/Awards</h4>
  {% if site.news  %}
    <div class="table-responsive">
      <table class="table table-sm table-borderless">
      {% assign newss = site.news | reverse %}
      {% for item in newss %}
	  {% if item.award == true %}
        <tr>
		  <td><i class="fa fa-caret-right main-name"></i></td>
          <td>
              {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
          </td>
		  <td scope="row" class="lec-years">{{ item.date |  date: "%m-%Y" }}</td>
        </tr>
		{% endif %}
      {% endfor %}
      </table>
    </div>
  {% else %}
    <p>No news so far...</p>
  {% endif %}
</div>