<div class="news">
  <h4 class="font-weight-bolder">Education</h4>
    <div class="table-responsive">
      <table class="table table-sm table-borderless">
        <tr class="flex">
		  <td><i class="fa fa-caret-right main-name"></i></td>
          <td class="main-name"><b> Ph.D. Computer Science </b></td>
		  <td> Delft University of Technology, Netherlands  </td>
		  <td scope="row" class="lec-years" >2018 - present</td>
		</tr>
		
		<tr class="flex">
		  <td><i class="fa fa-caret-right main-name"></i></td>
          <td class="main-name"><b> MSc. Computer Science </b></td>
		  <td> Delft University of Technology, Netherlands  </td>
		  <td scope="row" class="lec-years" >2016 - 2018</td>
		</tr>
		
		<tr class="flex">
		  <td><i class="fa fa-caret-right main-name"></i></td>
          <td class="main-name"><b> BSc. Computer Science </b></td>
		  <td> National University of Sciences &amp; Technology, Pakistan  </td>
		  <td scope="row" class="lec-years" >2011 - 2015</td>
		</tr>
      </table>
    </div>
</div>

<hr/>

<div class="news">
  <h4 class="font-weight-bolder">Research/Industry Experience</h4>
    <div class="table-responsive">
      <table class="table table-sm table-borderless">
		<tr class="flex">
		  <td><i class="fa fa-caret-right main-name"></i></td>
          <td class="main-name"> <b>Scientific Visitor </b></td>
		  <td> Eurecom, France <i>(with Prof. Balzarotti)</i></td>
		  <td scope="row" class="lec-years" >Sept 2023 - Dec 2023</td>
		</tr>
	  
        <tr class="flex">
		  <td><i class="fa fa-caret-right main-name"></i></td>
          <td class="main-name"> <b>Cybersecurity Visiting Student Researcher</b></td>
		  <td> RIT, USA <i>(with Prof. Yang)</i></td>
		  <td scope="row" class="lec-years" >Jun 2020 - Dec 2020</td>
		</tr>
		
		<tr class="flex">
		  <td><i class="fa fa-caret-right main-name"></i></td>
          <td class="main-name"><b> Research Intern</b></td>
		  <td> Fox-IT, Netherlands</td>
		  <td scope="row" class="lec-years" >Nov 2017 - Sept 2018</td>
		</tr>
		
		<tr class="flex">
		  <td><i class="fa fa-caret-right main-name"></i></td>
          <td class="main-name"><b> Research Intern </b></td>
		  <td> EPFL, Switzerland <i>(with Prof. Ailamaki)</i></td>
		  <td scope="row" class="lec-years" >Jul 2017 - Sept 2017</td>
		</tr>
		
		<tr class="flex">
		  <td><i class="fa fa-caret-right main-name"></i></td>
          <td class="main-name"><b> Application Engineer</b></td>
		  <td> LMKR, Pakistan</td>
		  <td scope="row" class="lec-years" >Sept 2015 - Jul 2016</td>
		</tr>
		
		<tr class="flex">
		  <td><i class="fa fa-caret-right main-name"></i></td>
          <td class="main-name"> <b>Openlab Summer Student </b></td>
		  <td> CERN, Switzerland <i>(with Dr. Lueders) </i></td>
		  <td scope="row" class="lec-years">Jul 2015 - Sept 2015</td>
		</tr>
      </table>
    </div>
</div>

<hr/>

<div class="news">
<h4 class="font-weight-bolder">Honors/Awards</h4>
  {% if site.news  %}
    <div class="table-responsive">
      <table class="table table-sm table-borderless">
      {% assign newss = site.news | reverse %}
      {% for item in newss %}
	  {% if item.award == true %}
        <tr>
		  <td><i class="fa fa-caret-right main-name"></i></td>
          <td>
              {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
          </td>
		  <td scope="row" class="lec-years">{{ item.date |  date: "%m-%Y" }}</td>
        </tr>
		{% endif %}
      {% endfor %}
      </table>
    </div>
  {% else %}
    <p>No news so far...</p>
  {% endif %}
</div>