<div class="news">
<h4 class="font-weight-bolder">Chair/Organizing Committee</h4>
  {% if site.service  %}
    <div class="table-responsive">
      <table class="table table-sm table-borderless">
      {% assign orgg = site.service %}
      {% for item in orgg reversed %}
	  {% if item.org == true %}
        <tr class="flex">
		  <td><i class="fa fa-caret-right main-name"></i></td>
          <td>{{ item.content | remove: '<p>' | remove: '</p>'}} <span class="lec-years">[{{ item.years | remove: '<p>' | remove: '</p>'}}]</span></td>
        </tr>
		{% endif %}
      {% endfor %}
      </table>
    </div>
  {% else %}
    <p>Nothing here...</p>
  {% endif %}
</div>

<hr/>

<div class="news">
<h4 class="font-weight-bolder">Reviewer/Sub-reviewer</h4>
  {% if site.service  %}
    <div class="table-responsive">
      <table class="table table-sm table-borderless">
      {% assign revieww = site.service %}
      {% for item in revieww reversed %}
	  {% if item.review == true %}
        <tr class="flex">
		  <td><i class="fa fa-caret-right main-name"></i></td>
          <td>{{ item.content | remove: '<p>' | remove: '</p>'}} <span class="lec-years">[{{ item.years | remove: '<p>' | remove: '</p>'}}]</span></td>
        </tr>
		{% endif %}
      {% endfor %}
      </table>
    </div>
  {% else %}
    <p>Nothing here...</p>
  {% endif %}
</div>

<hr/>

<div class="news">
<h4 class="font-weight-bolder">Mentorship</h4>
  {% if site.service  %}
    <div class="table-responsive">
      <table class="table table-sm table-borderless">
      {% assign mentorr = site.service %}
      {% for item in mentorr reversed %}
	  {% if item.mentor == true %}
        <tr class="flex">
		  <td><i class="fa fa-caret-right main-name"></i></td>
          <td>{{ item.content | remove: '<p>' | remove: '</p>'}} <span class="lec-years">[{{ item.years | remove: '<p>' | remove: '</p>'}}] </span></td>
        </tr>
		{% endif %}
      {% endfor %}
      </table>
    </div>
  {% else %}
    <p>Nothing here...</p>
  {% endif %}
</div>

<hr/>

