<div class="news">
  <h4 class="font-weight-bolder">PhD students</h4>
  {% if site.supervise  %}
    <div class="table-responsive">
	  <table class="table table-sm table-borderless">
	  {% assign project = site.supervise %}
      {% for item in project reversed%}
	  {% if item.degree == 'PhD.' %}
        <tr class="flex">
		  <td><i class="fa fa-caret-right main-name"></i></td>
          <td>
              <b><span class="main-name">"{{ item.topic }}"</span></b>. <br/>
			  {{ item.student }} <span class="lec-years"> ({{ item.uni }}) </span>
			  <div class="content-links">
				  {% if item.link contains '://' %}
					<a href="{{ item.link }}" class="btn btn-sm z-depth-0" role="button" target="_blank">Thesis</a>
				  {% endif %}
			</div>
          </td>
		  <td scope="row" class="lec-years">{{ item.year }}</td>
        </tr>
		{% endif %}
      {% endfor %}
	  </table>
	  </div>
  {% else %}
    <p>None so far...</p>
  {% endif %}
</div>

<hr/>

<div class="news">
  <h4 class="font-weight-bolder">Master students</h4>
  {% if site.supervise  %}
    <div class="table-responsive">
	  <table class="table table-sm table-borderless">
	  {% assign project = site.supervise %}
      {% for item in project reversed%}
	  {% if item.degree == 'MSc.' %}
        <tr class="flex">
		  <td><i class="fa fa-caret-right main-name"></i></td>
          <td>
              <b><span class="main-name">"{{ item.topic }}"</span></b>. <br/>
			  {{ item.student }} <span class="lec-years"> ({{ item.uni }}) </span>
			  <div class="content-links">
				  {% if item.link contains '://' %}
					<a href="{{ item.link }}" class="btn btn-sm z-depth-0" role="button" target="_blank">Thesis</a>
				  {% endif %}
			</div>
          </td>
		  <td scope="row" class="lec-years">{{ item.year }}</td>
        </tr>
		{% endif %}
      {% endfor %}
	  </table>
	  </div>
  {% else %}
    <p>None so far...</p>
  {% endif %}
</div>

<hr/>

<div class="news">
  <h4 class="font-weight-bolder">Bachelor students</h4>
  {% if site.supervise  %}
    <div class="table-responsive">
	  <table class="table table-sm table-borderless">
	  {% assign project = site.supervise %}
      {% for item in project reversed%}
	  {% if item.degree == 'BSc.' %}
        <tr class="flex">
		  <td><i class="fa fa-caret-right main-name"></i></td>
          <td>
              <b><span class="main-name">"{{ item.topic }}"</span></b>. <br/>
			  {{ item.student }} <span class="lec-years"> ({{ item.uni }}) </span>
			  <div class="content-links">
				  {% if item.link contains '://' %}
					<a href="{{ item.link }}" class="btn btn-sm z-depth-0" role="button" target="_blank">Thesis</a>
				  {% endif %}
			</div>
          </td>
		  <td scope="row" class="lec-years">{{ item.year }}</td>
        </tr>
		{% endif %}
      {% endfor %}
	  </table>
	  </div>
  {% else %}
    <p>None so far...</p>
  {% endif %}
</div>
	 