
<div class="news">
  <h4 class="font-weight-bolder">Courses</h4>
  {% if site.courses  %}
    <div class="table-responsive">
      <table class="table table-sm table-borderless">
      {% assign lectures = site.courses %}
	  
	  {% for item in lectures%}
	    {% if item.fulltime == 'true' %}
        <tr class="flex">
		  <td><i class="fa fa-caret-right main-name"></i></td>
          <td>
              <b>[{{ item.title }}] <span class="main-name">"{{ item.name }}"</span></b> <br/>
			  <span class="lec-years"> {{ item.inst }} </span>
			  
			<div class="content-links">
			  {% if item.slides %}
				  {% if item.slides contains '://' %}
					<a href="{{ item.slides }}" class="btn btn-sm z-depth-0" role="button" target="_blank">Slides</a>
				  {% else %}
					<a href="{{ item.slides | prepend: '/assets/slides/' | relative_url }}" class="btn btn-sm z-depth-0" role="button" target="_blank">Slides</a>
				  {% endif %}
			   {% endif %}
			   {% if item.transcript %}
				  {% if item.transcript contains '://' %}
					<a href="{{ item.transcript }}" class="btn btn-sm z-depth-0" role="button" target="_blank">Transcript</a>
				  {% else %}
					<a href="{{ item.transcript | prepend: '/assets/transcripts/' | relative_url }}" class="btn btn-sm z-depth-0" role="button" target="_blank">Transcript</a>
				  {% endif %}
				{% endif %}
			    {% if item.video %}
					<a href="{{ item.video }}" class="btn btn-sm z-depth-0" role="button" target="_blank">Recording</a>
				{% endif %}
			</div>
          </td>
		  <td scope="row" class="lec-years" >{{ item.years }}</td>
	 </tr>
		  {% endif %}
      {% endfor %}
      </table>
    </div>
  {% else %}
    <p>No lectures so far...</p>
  {% endif %}
</div>

<hr/>

<div class="news">
  <h4 class="font-weight-bolder">Guest Lectures</h4>
  {% if site.courses  %}
    <div class="table-responsive">
      <table class="table table-sm table-borderless">
      {% assign lectures = site.courses %}
      {% for item in lectures%}
	    {% if item.guest == 'true' %}
        <tr class="flex">
		  <td><i class="fa fa-caret-right main-name"></i></td>
          <td>
              <b>Topic: <span class="main-name">"{{ item.topic }}"</span></b>. <br/>
			  [{{ item.title }}] {{ item.name }} <br/>
			  <span class="lec-years"> {{ item.inst }} </span>
			  
			<div class="content-links">
			  {% if item.slides %}
				  {% if item.slides contains '://' %}
					<a href="{{ item.slides }}" class="btn btn-sm z-depth-0" role="button" target="_blank">Slides</a>
				  {% else %}
					<a href="{{ item.slides | prepend: '/assets/slides/' | relative_url }}" class="btn btn-sm z-depth-0" role="button" target="_blank">Slides</a>
				  {% endif %}
			   {% endif %}
			   {% if item.transcript %}
				  {% if item.transcript contains '://' %}
					<a href="{{ item.transcript }}" class="btn btn-sm z-depth-0" role="button" target="_blank">Transcript</a>
				  {% else %}
					<a href="{{ item.transcript | prepend: '/assets/transcripts/' | relative_url }}" class="btn btn-sm z-depth-0" role="button" target="_blank">Transcript</a>
				  {% endif %}
				{% endif %}
			    {% if item.video %}
					<a href="{{ item.video }}" class="btn btn-sm z-depth-0" role="button" target="_blank">Recording</a>
				{% endif %}
			</div>
          </td>
		  <td scope="row" class="lec-years" >{{ item.years }}</td>
	 </tr>
		  {% endif %}
      {% endfor %}
      </table>
    </div>
  {% else %}
    <p>No lectures so far...</p>
  {% endif %}
</div>

<hr/>

<div class="news">
  <h4 class="font-weight-bolder">Cyber Security Lecture Series (TU Delft)</h4>
  {% if site.courses  %}
    <div class="table-responsive">
      <table class="table table-sm table-borderless">
      {% assign lectures = site.courses %}
      {% for item in lectures%}
	    {% if item.csls == 'true' %}
        <tr class="flex">
		  <td><i class="fa fa-caret-right main-name"></i></td>
          <td>
              <b>Topic: <span class="main-name">"{{ item.topic }}"</span></b>. <br/>
			  [{{ item.title }}] {{ item.name }} <br/>
			  <span class="lec-years"> {{ item.inst }} </span>
			  
			<div class="content-links">
			  {% if item.slides %}
				  {% if item.slides contains '://' %}
					<a href="{{ item.slides }}" class="btn btn-sm z-depth-0" role="button" target="_blank">Slides</a>
				  {% else %}
					<a href="{{ item.slides | prepend: '/assets/slides/' | relative_url }}" class="btn btn-sm z-depth-0" role="button" target="_blank">Slides</a>
				  {% endif %}
			   {% endif %}
			   {% if item.transcript %}
				  {% if item.transcript contains '://' %}
					<a href="{{ item.transcript }}" class="btn btn-sm z-depth-0" role="button" target="_blank">Transcript</a>
				  {% else %}
					<a href="{{ item.transcript | prepend: '/assets/transcripts/' | relative_url }}" class="btn btn-sm z-depth-0" role="button" target="_blank">Transcript</a>
				  {% endif %}
				{% endif %}
			    {% if item.video %}
					<a href="{{ item.video }}" class="btn btn-sm z-depth-0" role="button" target="_blank">Recording</a>
				{% endif %}
			</div>
          </td>
		  <td scope="row" class="lec-years" >{{ item.years }}</td>
	 </tr>
		  {% endif %}
      {% endfor %}
      </table>
    </div>
  {% else %}
    <p>No lectures so far...</p>
  {% endif %}
</div>

<hr/>

<div class="news">
  <h4 class="font-weight-bolder">Supervision</h4>
  {% if site.supervise  %}
    <div class="table-responsive">
      <h6 class="font-weight-bolder"><u>Master theses</u></h6>
	  <table class="table table-sm table-borderless">
      
	  {% assign project = site.supervise %}
      {% for item in project reversed%}
	  {% if item.degree == 'MSc.' %}
        <tr>
		  <td><i class="fa fa-caret-right main-name"></i></td>
          <td>
              <b><span class="main-name">"{{ item.topic }}"</span></b>. <br/>
			  {{ item.student }} <span class="lec-years"> ({{ item.uni }}) </span>
			  <span class="content-links">
				  {% if item.link contains '://' %}
					<a href="{{ item.link }}" class="btn btn-sm z-depth-0" role="button" target="_blank">Thesis</a>
				  {% endif %}
			</span>
          </td>
		  <td scope="row" class="lec-years">{{ item.year }}</td>
        </tr>
		{% endif %}
      {% endfor %}
	  </table>
	  <h6 class=" font-weight-bolder"> <u>Bachelor theses</u></h6>
	  <table class="table table-sm table-borderless">
      {% for item in project reversed%}
	  {% if item.degree == 'BSc.' %}
        <tr>
		  <td><i class="fa fa-caret-right main-name"></i></td>
          <td>
              <b><span class="main-name">"{{ item.topic }}"</span></b>. <br/>
			  {{ item.student }} <span class="lec-years"> ({{ item.uni }}) </span> 
			  <span class="content-links">
				  {% if item.link contains '://' %}
					<a href="{{ item.link }}" class="btn btn-sm z-depth-0" role="button" target="_blank">Thesis</a>
				  {% endif %}
			</span>
          </td>
		  <td scope="row" class="lec-years">{{ item.year }}</td>
        </tr>
		{% endif %}
      {% endfor %}
      </table>
	  <h6 class=" font-weight-bolder"> <u>Design Project (BSc. TCS)</u></h6>
	  <table class="table table-sm table-borderless">
      {% for item in project reversed%}
	  {% if item.degree == 'design' %}
        <tr>
		  <td><i class="fa fa-caret-right main-name"></i></td>
          <td>
              <b><span class="main-name">"{{ item.topic }}"</span></b>. <br/>
			  {{ item.student }} <span class="lec-years"> ({{ item.uni }}) </span> 
			  <span class="content-links">
				  {% if item.link contains '://' %}
					<a href="{{ item.link }}" class="btn btn-sm z-depth-0" role="button" target="_blank">Report</a>
				  {% endif %}
			</span>
          </td>
		  <td scope="row" class="lec-years">{{ item.year }}</td>
        </tr>
		{% endif %}
      {% endfor %}
      </table>
    </div>
  {% else %}
    <p>None so far...</p>
  {% endif %}
</div>