<div class="news">
  <h4>Cyber Security Lecture Series</h4>
  {% if site.courses  %}
    <div class="table-responsive">
      <table class="table table-sm table-borderless">
      {% assign lectures = site.courses %}
      {% for item in lectures%}
	    {% if item.guest == 'false' %}
        <tr class="flex">
          <td>
              [{{ item.title }}] {{ item.name }} <br/>
			  Topic: <a href="#">"{{ item.topic }}"</a>. 
			<div class="content-links">
			  {% if item.slides %}
				  {% if item.slides contains '://' %}
					<a href="{{ item.slides }}" class="btn btn-sm z-depth-0" role="button" target="_blank">Slides</a>
				  {% else %}
					<a href="{{ item.slides | prepend: '/assets/slides/' | relative_url }}" class="btn btn-sm z-depth-0" role="button" target="_blank">Slides</a>
				  {% endif %}
			   {% endif %}
			   {% if item.transcript %}
				  {% if item.transcript contains '://' %}
					<a href="{{ item.transcript }}" class="btn btn-sm z-depth-0" role="button" target="_blank">Transcript</a>
				  {% else %}
					<a href="{{ item.transcript | prepend: '/assets/slides/' | relative_url }}" class="btn btn-sm z-depth-0" role="button" target="_blank">Transcript</a>
				  {% endif %}
				{% endif %}
			    {% if item.video %}
					<a href="{{ item.video }}" class="btn btn-sm z-depth-0" role="button" target="_blank">Recording</a>
				{% endif %}
			</div>
          </td>
		  <td scope="row" class="lec-years" >{{ item.years }}</td>
	 </tr>
		  {% endif %}
      {% endfor %}
	  {% assign lectures = site.courses %}
	  {% for item in lectures%}
	    {% if item.guest == 'true' %}
        <tr class="flex">
          <td>
               [{{ item.title }}] {{ item.name }} <br/>
			  Topic: <a href="#">"{{ item.topic }}"</a>. 
			<div class="content-links">
			  {% if item.slides %}
				  {% if item.slides contains '://' %}
					<a href="{{ item.slides }}" class="btn btn-sm z-depth-0" role="button" target="_blank">Slides</a>
				  {% else %}
					<a href="{{ item.slides | prepend: '/assets/slides/' | relative_url }}" class="btn btn-sm z-depth-0" role="button" target="_blank">Slides</a>
				  {% endif %}
			   {% endif %}
			   {% if item.transcript %}
				  {% if item.transcript contains '://' %}
					<a href="{{ item.transcript }}" class="btn btn-sm z-depth-0" role="button" target="_blank">Transcript</a>
				  {% else %}
					<a href="{{ item.transcript | prepend: '/assets/slides/' | relative_url }}" class="btn btn-sm z-depth-0" role="button" target="_blank">Transcript</a>
				  {% endif %}
				{% endif %}
			    {% if item.video %}
					<a href="{{ item.video }}" class="btn btn-sm z-depth-0" role="button" target="_blank">Recording</a>
				{% endif %}
			</div>
          </td>
		  <td scope="row" class="lec-years" >{{ item.years }}</td>

		 </tr>
		  {% endif %}
      {% endfor %}
      </table>
    </div>
  {% else %}
    <p>No lectures so far...</p>
  {% endif %}
</div>